ACTION!="add|change", GOTO="xorg_synaptics_end"
KERNEL!="event*", GOTO="xorg_synaptics_end"

ENV{ID_INPUT_TOUCHPAD}!="1", GOTO="xorg_synaptics_end"

ENV{x11_driver}="synaptics"

# model specific quirks
ATTR{[dmi/id]product_name}=="Inspiron 1011|Inspiron 1012", \
  ENV{x11_options.JumpyCursorThreshold}="90", \
  ENV{x11_options.AreaBottomEdge}="4100"

ATTR{[dmi/id]product_name}=="HP MiniNote 1000", \
  ENV{x11_options.JumpyCursorThreshold}="20"

LABEL="xorg_synaptics_end"
