#!/usr/bin/make -f
# GNU copyright 2004 by Mattia Dongili.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include debian/xsfbs/xsfbs.mk

PACKAGE=xserver-xorg-input-synaptics

configure: configure-stamp patch
configure-stamp:
	dh_testdir
	# the package: nothing to do

	touch configure-stamp


build: configure build-stamp
build-stamp:
	dh_testdir

	# compile the package: detect architecture and launch make
	$(MAKE) BUILD_MODULAR=y PREFIX=/usr

	touch build-stamp

clean: xsfclean
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# clean up:
	$(MAKE) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# install the package into debian/xserver-xorg-input-synaptics
	$(MAKE) install BUILD_MODULAR=y PREFIX=/usr DESTDIR=$(CURDIR)/debian/xserver-xorg-input-synaptics
	install -d debian/xserver-xorg-input-synaptics/usr/share/hal/fdi/policy/20thirdparty
	install -m 0644 debian/11-x11-synaptics.fdi debian/xserver-xorg-input-synaptics/usr/share/hal/fdi/policy/20thirdparty/


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install serverabi
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
